<h1>Stock Adder</h1>
<p>Add your stocks:</p>

<form method="POST" action="/add">
  <label for="symbol">Stock Symbol:</label>
  <input type="text"  id="symbol" name="symbol" />
  <br>
  <br>
  <label for="sharesBought">Number of Shares:</label>
  <input type="text"  id="sharesBought" name="sharesBought" />
  <br>
  <br>
  <label for="priceBought">Average Price of Shares Bought:</label>
  <input type="text"  id="priceBought" name="priceBought" />
  <input type="submit" />
</form>