
<h1 style="text-align: center; font-weight: bold;">Stock Search</h1>
<p style="text-align: center;">Search for a stock below...</p>
<p style="text-align: center;">Please enter the stock symbol associated with the stock, e.g. AAPL for Apple.</p>

<div style="display: flex;
justify-content: center;">
  <form method="GET" action="/stocks/search">
    <label for="search"></label>
    <div class="input-group mb-3 ">
      <span class="input-group-text" id="basic-addon1">Symbols:</span>
      <input type="text" class="col-6 form-inline" id="search" name ="symbols" placeholder="e.g. TSLA" aria-label="symbols" aria-describedby="basic-addon1">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  
  </form>
</div>
