<h1>Stock Search</h1>
<p>Search for a stock below...</p>

<form method="GET" action="/stocks/search">
  <label for="search"></label>
  <input type="text"  id="search" name="symbols" />

  <input type="submit" />
</form>