<h1 style="text-align: center;"><%= stocks.symbol %></h1>
<% console.log("ERRO STOCKS", stocks) %>
<% Object.keys(stocks).forEach(function(key) { %>
  <% if (typeof stocks[key] === "string") {%>
        
      <div class="row justify-content-center">
          <div class="col-2">
              <% let words =key.replaceAll('_', ' ') %>
              <p class="text-primary"><%=`${words[0].toUpperCase() + words.substring(1)}:`%></p>
          </div>
          <div class="col-2">
              <%= `${stocks[key]}` %>
          </div>
      </div>

      <%}%>
  <% }); %>


  