<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocktracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</head>
<body>
    <h1>Stocktracker</h1>
    <nav>
        <ul>
            <!-- if the user is logged in... -->
            <!-- all data in the res.locals is usuable in the layout -->
            <li>
                <a href="/stocks">Find a Stock</a>
            </li>
            <% if (user) { %>
                <li>
                    <a href="/users/profile">Profile</a>
                </li>
                <li>
                    <a href="/stocks/add">Add a Stock</a>
                </li>

                <li>
                    <a href="/users/logout">Logout</a>
                </li>
            <% } else { %>
                <li>
                    <a href="/users/new">Sign Up</a>
                </li>
    
                <li>
                    <a href="/users/login">Login</a>
                </li>
            <% } %> 
        </ul>
    </nav>

    

    <%- body %>
</body>
</html>