<!-- page for adding crypto to user profile -->
<h1 style="text-align: center; 
          font-weight: bold;">
          Crypto Adder
</h1>
<p style="text-align: center;
          background-color: rgb(24,105,124);
          width: 40vw;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 0;
          font-size: 20px;
          ">
Add crypto to your profile:
</p>

<div style="display: flex;
            justify-content: center;
            background-color: rgb(24,105,124);
            width: 40vw;
            margin-left: auto;
            margin-right: auto;">
    <form method="POST" action="/cryptos/add">
      <div class="input-group">
          <span class="input-group-text" id="basic-addon1">Crypto Symbol:</span>
          <input type="text" class="col-5" id="cryptoSymbol" name ="cryptoSymbol" placeholder="e.g. BTC/EUR" aria-label="cryptoSymbol" aria-describedby="basic-addon1">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">Amount of Crypto:</span>
        <input type="text" class="col-5" id="cryptoBought" name ="cryptoBought" placeholder="Enter number" aria-label="cryptoBought" aria-describedby="basic-addon1">
      </div>
      <br>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Average Price of Crypto Bought:</span>
        <input type="text" class="col-5" id="cryptoPriceBought" name ="cryptoPriceBought" placeholder="Enter price ($)" aria-label="cryptoPriceBought" aria-describedby="basic-addon1">
      </div>
      <br>
      <div class="mx-auto btn-group-vertical d-grid" role="group" aria-label="Vertical button group">
            <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
</div>
<br>
<img style="display: block; margin-left: auto; margin-right: auto;"src="https://penntoday.upenn.edu/sites/default/files/2022-01/cryptocurrency-main.jpg" alt="bitcoin" height="300px" width="600px"/>





