<h1>Cryptocurrency Adder</h1>
<p>Add cryptocurrency to your profile:</p>

<form method="POST" action="/cryptos/add">
  <label for="cryptoSymbol">Stock Symbol:</label>
  <input type="text"  id="cryptoSymbol" name="cryptoSymbol" />
  <br>
  <br>
  <label for="cryptoBought">Number of Shares:</label>
  <input type="text"  id="cryptoBought" name="cryptoBought" />
  <br>
  <br>
  <label for="cryptoPriceBought">Average Price of Shares Bought:</label>
  <input type="text"  id="cryptoPriceBought" name="cryptoPriceBought" />
  <input type="submit" />
</form>