<h1 style="text-align: center;"><%= cryptos.symbol %></h1>
<% Object.keys(cryptos).forEach(function(key) { %>
    <% if (typeof cryptos[key] === "string") {%>
       <div class="row justify-content-center">
            <div class="col-2">
                <% let words =key.replaceAll('_', ' ') %>
                <p class="text-primary"><%=`${words[0].toUpperCase() + words.substring(1)}:`%></p>
            </div>
        <div class="col-2">
            <%= `${cryptos[key]}` %>
        </div>
      </div>
  
   <%}%>
<% }); %>
