<h1>Cryptocurrency Search</h1>
<p>Search for a cryptocurrency below...</p>
<p>Please enter associated symbols for the crypto you are looking for, e.g. BTC/USD for Bitcoin.</p>

<form method="GET" action="/cryptos/search">
  <label for="search"></label>
  <input type="text"  id="search" name="symbols" />

  <input type="submit" />
</form>