<!-- allows user to edit their information -->
<body style="background-color: rgb(222, 208, 193);">
    <h1 style="text-align: center;">Edit your information</h1>
    <div style="display: flex;
                justify-content:center;
                background-color: rgb(184, 173, 173);
            
                margin-left: auto;
                margin-right: auto;">
        <form method="POST" action="/users/profile/edit/?_method=PUT">
            <br>
            <div class="input-group" style="display: flex; justify-content: center;">
                <span class="input-group-text" id="basic-addon1">Email:</span>
                <input id="email" type="email" name="email" value="<%=user.email%>" required>
                <span class="input-group-text" id="basic-addon1">Current Password:</span>
                <input id="password" type="password" name="password" placeholder="Enter current password" required>
                <span class="input-group-text" id="basic-addon1">New Password:</span>
                <input id="password" type="password" name="password" placeholder="Enter new password" required>
            </div>
            <br>
            <div class="mx-auto btn-group-vertical d-grid" role="group" aria-label="Vertical button group">
                <button type="submit" class="btn btn-primary">Update Information</button>    
            </div>
        </form>
    </div>
</body>