<h1 style="text-align: center;">Sign Up for StockTracker Account! 📈</h1>



    <form method="POST" action="/users">
        <div class="input-group" style="display: flex; justify-content: center;">
                <span class="input-group-text" id="basic-addon1">Email:</span>
                <input id="email" type="email" name="email" required>
                <span class="input-group-text" id="basic-addon1">Password:</span>
                <input id="password" type="password" name="password" required>
        </div>
        <br>
        <div class="mx-auto btn-group-vertical d-grid" role="group" aria-label="Vertical button group">
            <button type="submit" class="btn btn-primary">Sign Up!</button>    
      </div>
    </form>
</div>



