<h2 style="text-align: center;">Welcome to your profile, <%= user.email %>!</h2>

<h3 style="text-align: center;"><a href="/users/stocks">My Stocks</a></h3>
<h3 style="text-align: center;"><a href="/users/cryptos">My Crypto</a></h3>

<% console.log("USERRRRR", user.id) %>


<div class="mx-auto btn-group-vertical d-grid" role="group" aria-label="Vertical button group">
    <form method="GET" action="/users/profile/edit">
        <textarea hidden id="userId" name="userId"><%user.id%></textarea>
        <button type="submit" class="btn btn-primary">Edit Account</button>
    </form>
</div>

<br>
<br>
<br>
<br>

<div class="mx-auto btn-group-vertical d-grid" role="group" aria-label="Vertical button group">
    <form method="POST" action="/users/profile/?_method=DELETE">
        <textarea hidden id="userId" name="userId"><%user.id%></textarea>
        <button type="submit" class="btn btn-primary">Delete Account</button>
    </form>
</div>











